{% extends 'base.html' %}

{% block title %}
    Welcome to SacLug's Polling Site!
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Select a poll below to vote. Once you have voted, you can see the results.
                </div>
                <div class="panel-body">
                    <ul>
                        {% for poll in polls %}
                            <li><a href="{% url 'vote' poll.pk %}">{{ poll }}</a></li>
                        {% empty %}
                            <li>Sorry, there are no polls.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
